# Dependency directories
node_modules

# pkg lock file
package-lock.json

# Build directories
dist

# Environment variables
.env

# Logs
logs/*
!logs/.gitkeep

# Jest coverage
coverage

# exclude uploads folder items
uploads/*
!uploads/.gitkeep

# exclude client folder items
client/*