# Dependency directories
node_modules

# pkg lock file
package-lock.json

# Build directories
dist

# Environment variables
.env

# Logs
logs

# Jest coverage
coverage

# exclude uploads folder items
uploads/*

!uploads/.gitkeep